.fs-10R{
    font-size:10rem;
}

.h-10R{
    height: 10rem;
}

.service-icons{
    height: 10rem;

}

.service-title{
    font-weight: bold;
    margin-top: 1rem;
}

.doctor-image-container{
    max-height: 30rem;
    overflow: hidden;
}

.doctor-textbox{
    height: 10rem;
}

.pull-left{
    float:left;
}

.pull-right{
    float:right;
}

.list-icon-tick svg{
    fill: #43d5cb;
    width: 1.5rem;
}

.left-list li{
    margin-bottom: 1rem;
}
.left-list{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.left-list li span:nth-child(2){
    padding-left: 1rem;
}

.inner-circle{
    width: 232px;
    height: 232px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 38px;
    position: relative;
    background-color: #43d5cb;
    color: #fff;
}

.floating-cta-container{
    position: absolute;
    top: 70%;
    left: 3rem;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
}

.shadow-circle{
    border: 20px solid rgba(255,255,255,.4);
    border-radius: 50%;
}

.inner-circle .cta-text{
    margin-bottom: 0;
    font-size: 19px;
    line-height: 28px;
    color: inherit;
    font-weight: 600;
    font-style: italic;
}

.video-play-button{
    position: absolute;
    display: inline-flex;
    top: 10px;
    right: -10px;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.video-play-button:after{
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    transition: all .2s;
}

.video-play-button:before{
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.3);
    border-radius: 50%;
    animation: pulse-border 1.5s ease-out infinite;
}
.video-play-button i{
    position: relative;
    z-index: 9;
    color: #222;
    font-size: 30px;
    margin-left: 5px;
}

@keyframes pulse-border {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}


.astrodivider {
    margin:2rem auto;
    width:400px;
    max-width: 100%;
    position:relative;
}

.astrodividermask {
    overflow:hidden; height:20px;
}

.astrodividermask:after {
    content:'';
    display:block; margin:-25px auto 0;
    width:100%; height:25px;
    border-radius:125px / 12px;
    box-shadow:0 0 8px #049372;
}
.astrodivider span {
    width:50px; height:50px;
    position:absolute;
    bottom:100%; margin-bottom:-25px;
    left:50%; margin-left:-25px;
    border-radius:100%;
    box-shadow:0 2px 4px #4fb39c;
    background:#fff;
}
.astrodivider i {
    position:absolute;
    top:4px; bottom:4px;
    left:4px; right:4px;
    border-radius:100%;
    border:1px dashed #43d5cb;
    text-align:center;
    font-size: 1.5rem;
    line-height: 44px;
    font-style:normal;
    color:#43d5cb;
}